<odoo>
  <menuitem id="menu_zed_root" name="Zed Custom" sequence="10"/>
  <record id="action_zed_contacts" model="ir.actions.act_window">
    <field name="name">Zed Contacts</field>
    <field name="res_model">res.partner</field>
    <field name="view_mode">list,form</field>
  </record>
  <menuitem id="menu_zed_contacts" parent="menu_zed_root"
            name="Contacts" action="action_zed_contacts" sequence="10"/>
</odoo>
